# package directories
node_modules
#dist is only for the package
dist
#ignore npm pack output
serverless-iam-roles-per-function-*.tgz
#ignore coverage dir
coverage
.nyc_output
npm-debug.log
